@import "variables";

// 全局重置
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
}

html {
    overflow-y: auto;
    overflow-x: hidden;
    background: black;

    // 滚动条
    &::-webkit-scrollbar {
        width: 8px;
    }

    // 轨道
    &::-webkit-scrollbar-track {
        background: transparent;
    }

    // 滑块（默认隐藏）
    &::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 10px;
        transition: background 0.3s;
    }

    // hover 显示
    &:hover::-webkit-scrollbar-thumb {
        background: transparentize($scrollbar-thumb, 0.7);
    }

    &:hover::-webkit-scrollbar-thumb:hover {
        background: $scrollbar-thumb-hover;
    }
}

html[data-theme="light"] {
    background:
        repeating-linear-gradient(
            135deg,
            rgb(237, 237, 237) 0,
            rgb(237, 237, 237) 16px,
            rgb(228, 228, 228) 16px,
            rgb(228, 228, 228) 32px
        );
}

.star-canvas-page {
    min-height: 100vh;
    touch-action: none;
    background: transparent;
    overflow-y: auto; // 保留
    overflow-x: hidden; // 保留
    -webkit-overflow-scrolling: touch; // 让 iOS 有惯性滚动
    touch-action: pan-y; // 允许纵向滑动
}

// canvas
#starCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: block;
    z-index: -1;
}
